# Node.js Modules
node_modules/
*.log
*.lock

# Environment Variables
.env

# Prisma Generated Client
/prisma/generated/
/generated/
/prisma/migrations/

# OS-specific Files
.DS_Store
Thumbs.db

# Logs & Debug Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: VS Code Settings
.vscode/

# Optional: Ignore SQLite (kalau kamu pakai SQLite untuk testing)
*.sqlite
*.db

# Optional: Build Files
dist/
build/
